@page
@model SchoolWebApp.Pages.AcademicYearPage.DeleteModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Удаление</title>
</head>
<body>

<h3>Вы уверены что хотите удалить учебный год?</h3>
<div>
    <h4>Учебный год</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicYear.Year)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="AcademicYear.Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад к списку учебных годов</a>
    </form>
</div>
</body>
</html>
