@page
@model SchoolWebApp.Pages.AcademicYearPage.EditModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактировать</title>
</head>
<body>

<h4>Учебный год</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AcademicYear.Year" class="control-label">Год</label>
                <input asp-for="AcademicYear.Year" class="form-control" />
                <span asp-validation-for="AcademicYear.Year" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="AcademicYear.Id" />
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Назад к спику учебных годов</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
